name: Python CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Ruff
        run: |
          ruff check src/

      - name: Run Black
        run: |
          black --check src/

      - name: Security scan
        run: bandit -r src -f txt -o .bandit\bandit-report.txt

      - name: Run tests with coverage
        run: pytest

      - name: Dependency audit
        run: pip-audit
